In [1]:
list1=['ram','raheen','robert']
list2=[25,30,35]
for i,j in zip(list1,list2):
    print(i,j)

ram 25
raheen 30
robert 35

In [ ]:
{key:value}

In [2]:
d1={'ram':25,'raheen':30,'robert':35}
d1

{'ram': 25, 'raheen': 30, 'robert': 35}

In [3]:
d2={25:'ram',30:'rahenn',35:'robert'}
d2

#keys:25,30,35
#values:

{25: 'ram', 30: 'rahenn', 35: 'robert'}

In [4]:
d3={'even':(2,4,6),
   'odd':(3,5,7)}
d3

{'even': (2, 4, 6), 'odd': (3, 5, 7)}

In [5]:
d3={'even':[2,4,6],
   'odd':[3,5,7]}          #not works list in dictionary

In [ ]:
#{'key':<()>}

In [ ]:
a={1,2}
b=(1,2)

-  dictionary is a kay:value pair
-  at values postion you can take any data type
-  at keys postion list and dictionary will fail
-  dulictes are not allowed
-  if you will update a key value,latest value it will take

In [6]:
d1={'a':1,'b':2,'a':1}
d1

{'a': 1, 'b': 2}

In [7]:
d1={'a':1,'b':2,'a':3}
d1

{'a': 3, 'b': 2}

$type$

In [9]:
type(d1)

dict

In [10]:
d1={'ram':25,'raheen':30,'robert':35}
max(d1)

'robert'

- maximum and minimum value based on key only

In [12]:
min(d1)

'raheen'

In [13]:
len(d1)

3

In [14]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
d2={1:2,3:4}
sum(d2)

4

- if keys has numeric then we can do sum

$in$

In [ ]:
d1={'ram':25,
    'raheen':30,
    'robert':35}
 'ram':25 in d1    #fail
'ram' in d1       #works
25 in d1         #fail

$index$

In [16]:
l1={10,20,30,40}
l1[0]

str1='apple'
str1[0]

TypeError: 'set' object is not subscriptable

In [17]:
#can we get values using for loop
for i in d1:
    print(i)

ram
raheen
robert

In [41]:
for  key in d1:
    print(key,d1[key])

In [20]:
for key in d1:
    print('the age of {}is{}'.format(key,d1[key]))

the age of ramis25
the age of raheenis30
the age of robertis35

#crating a empty dictionary and update#

In [23]:
s=''

for i in 'apple':
    s=s+i
    
print(s)

apple

In [24]:
d1={}
d1['fruit']='apple'
d1

{'fruit': 'apple'}

In [25]:
#wap a program 
d1={}
d1['course']='b.scom'
d1

{'course': 'b.scom'}

In [27]:
# wap create a dictionary based on two lists
#'ram':25,
d1=[]
d1['names']='ram','raheen','robert'
d2['age']=25,30,35

TypeError: list indices must be integers or slices, not str

In [28]:
for i in range(len(names)):
    print(i,names[i],age[i])
    dict1[names[i]]

NameError: name 'names' is not defined

In [30]:
names={'ram','raheen','robert'}
age=[25,30,35]
dict={}
for i in range(len(names)):
    dict1[names[i]]=age[i]
    
dict1={names[i]:age[i] for i in range(len(names))}
dict1={name:age for name,age in zip(names,age)}

names[0],age[0]

NameError: name 'dict1' is not defined

In [42]:
#wap take r random number
#and create a dictionary with even or odd
#step-1: take empty dictionary
#step-2: take two even and odd list
#step-3: import random
#step-4: for i in range(5):
#step-5:   num=random.randint(a,b)
#step-6: if<even>:
#step-7: append the value in even list
#step-8: else:
#step-9: append the value in odd list
#step-10: create dictionary

dict={}
even_list=[]
odd_list=[]
import random
for i in range(5):
    num=random.randint(1,10)
    if num%2==0:
        even_list.append(num)
    else:
        odd_list.append(num)
        
dict['even']=even_list
dict['odd']=odd_list
dict

{'even': [2, 10, 2, 10], 'odd': [1]}

In [1]:
import os
os.getcwd()

'C:\\Users\\VIJAYA MEDA'

*21-11-2023*

*dictionary method*

In [1]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

*items-keys-values*

In [3]:
d1={'ram':25,'raheen':30,'robert':35}
d1

{'ram': 25, 'raheen': 30, 'robert': 35}

In [4]:
# items
d1.items()

dict_items([('ram', 25), ('raheen', 30), ('robert', 35)])

In [7]:
type(items)

NameError: name 'items' is not defined

In [11]:
#keys
keys=d1.keys()
keys

dict_keys(['ram', 'raheen', 'robert'])

In [9]:
#values
values=d1.values()
values

dict_values([25, 30, 35])

In [8]:
l1=[25,30,35]
l1.append(400)
l1

[25, 30, 35, 400]

In [10]:
values
list(values)

[25, 30, 35]

In [12]:
keys=list(keys)
keys

['ram', 'raheen', 'robert']

In [ ]:
# i will give the dictionary
#can you extract keys ans values in alist

#i will give two list keys and values
#can you create a dictionary

In [15]:
dict1={'ram':25,'raheen':30,'robert':35}
#keys=list(d1.keys())
#values=list(d1.values())
#d1
dict1={}
for i in range(len(keys)):
    dict1[keys[i]]=values[i]

In [16]:
dict1(zip(keys,values))

TypeError: 'dict' object is not callable

In [5]:
s1='virat.kohli@blr.com,rohit,sharma@mumbai.com,kl.rahul@lucknow.com'

#l1=('first_name':['virat','rohit','kl'])
#l2=('second_name':['kohli','sharma','rahul'])
#l3=('company_name':['blr','mumbai','lucknow'])

In [25]:
s1='virat.kohli@blr.com,rohit,sharma@mumbai.com,kl.rahul@lucknow.com'
s1.find('.')
frist_name=s1[0:5]
print(frist_name)
s1.find(',s')
num2=s1[6:25]
print(num2)

virat
kohli@blr.com,rohit

In [6]:
s1.split(',')

['virat.kohli@blr.com', 'rohit', 'sharma@mumbai.com', 'kl.rahul@lucknow.com']

In [7]:
str1='virat.kohli@blr.com'
d1={}
f_name=[str1[:str1.find('.')] for str1 in s1.split(',')]
s_name=[str1[str1.find('.')+1:str1.find('@')] for str1 in s1.split(',')]
c_name=[str1[str1.find('@')+1:str1.find('.',str1.find('.')+1)]for str1 in s1.split(',')]
f_name,s_name,c_name
d1['frist name']=f_name
d1['second name']=s_name
d1['company name']=c_name
d1

{'frist name': ['virat', 'rohi', 'sharma@mumbai', 'kl'],
 'second name': ['kohli', 'rohi', '', 'rahul'],
 'company name': ['blr', 'rohi', 'mumbai.co', 'lucknow']}

In [59]:

str1='virat.kohli@blr.com'
str1.find('.')
num=str1[0:5]
print(num) 
str1.find('@')
num1=str1[6:11]
print(num1)
str1.find('.c')
num2=str1[12:15]
print(num2)

virat
kohli
blr

In [32]:
s1='virat.kohli@blr.com,rohit,sharma@mumbai.com,kl.rahul@lucknow.com'
l1=s1.split(',')
frist_name=[]
second_name=[]
company_name=[]
d1={}
for i in l1:
    frist_name.append(i[0:i.find('.')])
    second_name.append(i[i.find('.')+1:i.find('@')])
    company_name.append(i[i.find('@')+1:i.find('.',i.find('.')+1)])
                          
d1['frist name']=frist_name
d1['second name']=second_name
d1['company name']=company_name
d1

{'frist name': ['virat', 'rohi', 'sharma@mumbai', 'kl'],
 'second name': ['kohli', 'rohi', '', 'rahul'],
 'company name': ['blr', 'rohi', 'mumbai.co', 'lucknow']}

In [94]:
str1='virat.kohli@blr.com,rohit,sharma@mumbai.com,kl.rahul@lucknow.com'
d1={}
f_name=[str1[:str1.find('.')] for str1 in s1.split()]
l_name=[str1[:str1.find('@')] for str1 in s1.split('.')]
c_name=[str1[:str1.find('.')] for str1 in s1.split('@')]



# s_name=[str1[:str1.find('.')+1:str1.find('@')] for str1 in s1.split()]
# c_name=[str1[:str1.find('.')+1:str1.find('@',str1.find('.')+1)] for str1 in s1.split(',')]
#f_name,s_name,c_name

d1['frist_name']=f_name
d1['second_name']=l_name[1]
d1['company_name']=c_name[1]
d1

{'frist_name': ['virat'], 'second_name': 'kohli', 'company_name': 'blr'}

In [71]:
str1='can can you canner can you able to you canner'
str1 = str1.split()
print(str1)

d={}
for i in str1:
    if i in d:
        d[i] = d[i]+1
    else:
        d[i]=1
d

['can', 'can', 'you', 'canner', 'can', 'you', 'able', 'to', 'you', 'canner']

{'can': 3, 'you': 3, 'canner': 2, 'able': 1, 'to': 1}

In [34]:
str1.split()

['can', 'can', 'you', 'canner', 'can', 'you', 'able', 'to', 'you', 'canner']

In [41]:
str1='can can you canner can you able to you canner'
l1=str1.split(' ')
d1={}
for i in l1:
    d1[i]=l1.count(i)
d1

{'can': 3, 'you': 3, 'canner': 2, 'able': 1, 'to': 1}

In [120]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}
dict1={}

for i in d1.keys():
    dict1[i] = d1[i]+d2[i]
# for i,j in zip(d1.,d2.values):
#     print('add',i+j)
    
dict1

{'a': 70, 'b': 130, 'c': 240}

In [118]:
d1.keys()

dict_keys(['a', 'b', 'c'])

In [46]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}
for i in d1:
    d1[i]+=d2[i]
d1

{'a': 70, 'b': 130, 'c': 240}

In [33]:
d1={'a':20,'b':30,'c':40,'d':500}
d2={'a':50,'b':100,'c':200,}
for i in d2:
    d1[i]+=d2[i]
d1

{'a': 70, 'b': 130, 'c': 240, 'd': 500}

*22-11-2023*

*clear-copy*

In [2]:
# take one dictionary
# take second dictionary
#copy frist dict into second
#clear frist dict
#and print both


d1={'a':20,'b':30,'c':40,'d':500}
d2=d1.copy()
d1.clear()
print(d1)      #d {}
print(d2)      #{'a':20,'b':30,'c':40,'d':500}

{}
{'a': 20, 'b': 30, 'c': 40, 'd': 500}

$pop-$popitem$-del$

In [ ]:
pop  will remove specfic value
popitem  remove last value default

del is a keyword

In [3]:
d1={'a':20,'b':30,'c':40,'d':500}
d1.pop('a')

20

In [6]:
d1.popitem()

('d', 500)

In [9]:
del(d1)

In [10]:
d1

NameError: name 'd1' is not defined

In [ ]:
d1={'a':1,'b':2,'c':3}

del d1['c']

d1.pop('c')

d1.popitem('c')

In [ ]:
- items/values/keys
-if i provide two list you know how to make dict
-if i provide dict,you know how to genertare list
-create an empty string/list/dictionary

$fromkeys$-$get$

In [11]:
d1={'a':20,'b':30,'c':40,'d':500}
d1.get('b')

30

In [12]:
d1.get('z')

In [13]:
d1['z']

KeyError: 'z'

- how many keys we can do
- what output it is returning
- what is the difference
-  can access the values by providing key as index and key in get method
- but if the key is not present in dictionary,key as index will give key error
- get method will not return anything  and no error

In [18]:
d1.fromkeys('raheen',25)

{'r': 25, 'a': 25, 'h': 25, 'e': 25, 'n': 25}

In [16]:
d1

{'a': 20, 'b': 30, 'c': 40, 'd': 500}

In [ ]:
d3={}.fromkeys[1,2,3]

In [19]:
d1={'a':20,'b':30,'c':40,'d':500}
d1.setdefault('e')
d1

{'a': 20, 'b': 30, 'c': 40, 'd': 500, 'e': None}

In [ ]:
d1={}
d1.setdefault('nareshit','Ds')
d1.setdefault('city')
d1.setdefault('nareshit')

$update$

In [23]:
d1={'a':20,'b':30}
d2={'b':7,'c':5}
d1.update(d2)
print(d1)

{'a': 20, 'b': 7, 'c': 5}

In [24]:
t1=[(1,2),(2,3)]
d1={}
d1.update(t1)
d1

{1: 2, 2: 3}