In [1]:
def add(x):
    return(x+10)
add(20)

30

In [2]:
def add(x):
    summ=x+10
    return(summ)
add(20)

30

In [ ]:
def add(x):
    return(x+10)
add(20)


#how many arguments are present?   x
#what you are returning?:    x+10


lambda<argument>:<output>

In [3]:
add=lambda x:x+10
add(30)

40

*one argument*

In [4]:
square=lambda x:x*x
square(22)

484

In [5]:
cube=lambda a:a*a*a
cube(8)

512

*two arguments*

In [6]:
add=lambda a,b:a+b
add(20,33)

53

In [10]:
avg=lambda a,b,c:(a+b+c)/3
avg(5,3,5)

4.333333333333333

In [11]:
#implement avg make c as default parameter
avg=lambda a,b,c=30:(a+b+c)/3
avg(5,3,)

12.666666666666666

In [12]:
avg=lambda a,b,c=30:((a+b+c)/3,2)
avg(20,30)

(26.666666666666668, 2)

In [26]:
round(26.66666,1)

26.7

*if-else*

In [14]:
#create a function for finding greater number between two number
def greater(a,b):
    if a>b:
        return(a)
    else:
        return(b)
    
greater(100,200)

200

In [17]:
l1=[]
def greater(a,b):
    if a>b:
        l1.append(a)
    else:
        l1.append(b)
    
greater(100,200)
l1

[200]

In [18]:
greater=lambda a,b:(a if a>b else b)
greater(100,200)

200

In [23]:
import random
num=random.randint(10,100)
even_odd=lambda even,odd:(even if num%2==0 else odd)
even_odd(10,100)

100

In [27]:
greater=lambda a,b,c:a if(a>b and a>c) else (b if b>c else c )
greater(20,33,3)

33

In [28]:
def square(a):
    return(a**2,a**3)
square(9)

(81, 729)

In [29]:
square=lambda a:(a**2,a**3)
square(10)

(100, 1000)

In [30]:
number=[22,24,33,53,66,67]
for num in number:
    if(lambda x: x%2==0)(num):
        print(f'{num} is even')
    else:
        print(f'{num} is odd')

22 is even
24 is even
33 is odd
53 is odd
66 is even
67 is odd

In [33]:
import random
for i in range(5):
    num=random.randint(10,30)
    for i in range(num):
        if (lambda x: x%2==0)(num):
            print(f'{num} is even')
             break
        else:
            print(f'{num} is odd')
              break

IndentationError: unexpected indent (3409939373.py, line 7)

*24-11-2023*

In [4]:
list1=['hyd','mumbai','chennai']
#output: ['hyd','mumbai','chennai']
# m-1: use append method
# m-2: use list comprhenshion
list2=[]
for i in list1:
    list2.append(i.capitalize())
print(list2)
#use list comprhenshion
[i.capitalize() for i in list1]

['Hyd', 'Mumbai', 'Chennai']

['Hyd', 'Mumbai', 'Chennai']

In [ ]:
lambda<arguments>: <output>,<iterator>

In [6]:
list1=['hyd','mumbai','chennai']
map(lambda i:i.captalize(),list1)

- store the output
- frist make a lambda function
- second add your iterator
- map both function and iterator
- save the result in a list

In [7]:
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

In [8]:
list1=['hyd','mumbai','chennai']
lambda i:i.captalize(),list1
map(lambda i:i.captalize(),list1)
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

In [15]:
list1=[1,2,3,4,5]
lambda i:i*i,list1
      for i in map(lambda i:i*i,list1):
           print(i)

IndentationError: unexpected indent (3040264008.py, line 3)

In [ ]:
-next thing is map input and output

In [16]:
lambda i:i*i,list1
map(lambda i:i*i,list1)
list(map(lambda i:i*i,list1))

[1, 4, 9, 16, 25]

In [18]:
list1=[1,2,3]
list2=[11,22,33]
for i,j in zip(list1,list2):
        print(i+j)

12
24
36

In [19]:
lambda i,j:i+j,list1,list2
map(lambda i,j:i+j,list1,list2)
list(map(lambda i,j:i+j,list1,list2))

[12, 24, 36]

In [25]:
list1=['h#d','mum#bai','chennai']
#['h#d','mum#bai']
list2=[]
for i in list1:
    if '#' in i:
        list2.append(i)
print(list2)

[i for i in list1 if '#' in i]

['h#d', 'mum#bai']

['h#d', 'mum#bai']

In [23]:
list1=['h#d','mum#bai','chennai']
lambda i: '#' in i,list1
map(lambda i: '#' in i,list1)
list(map(lambda i: '#' in i,list1))

[True, True, False]

In [24]:
list(filter(lambda i: '#' in i,list1))

['h#d', 'mum#bai']

In [ ]:
lambda<argument>:<condition>,<iterator>

In [ ]:
#connect chat gpt through python
#we connect maker suite