In [2]:
string1='python'

In [4]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [5]:
list2=['A','B','C','D']
list2

['A', 'B', 'C', 'D']

In [6]:
list3=[1,2,3,4,'A','B','C','D']
list3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [2]:
list4=[1,'apple',10.5,10+20j,True]
list4

[1, 'apple', 10.5, (10+20j), True]

In [9]:
list5=[100,100,100]
list5

[100, 100, 100]

In [11]:
list6=[[1,2,3,4]]
list6

[[1, 2, 3, 4]]

- list in an array of elements
- list elements hetrogenous(diffrent) data types are allowed
- duplicates are allowed
- list in list also works

In [12]:
type(list3)

list

In [15]:
max(list1)   #4
max(list2)   #D
max(list3)     # error we cant compare different data types

TypeError: '>' not supported between instances of 'str' and 'int'

In [6]:
min(list1)

1

In [18]:
min(list2)

'A'

In [19]:
len(list1)

4

In [20]:
len(list2)

4

In [21]:
len(list3)

8

In [24]:
sum(list1)

10

In [25]:
sum(list3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

$in$

In [26]:
list1

[1, 2, 3, 4]

In [31]:
1 in list1
2 in list1
3 in list1
4 in list1
for i in list1:
    print(i)

1
2
3
4

In [32]:
print(list1+list2)
print(list2+list1)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 1, 2, 3, 4]

In [34]:
list1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [35]:
list1-list2     #fail 
list1*list2     #fail
list1/list2     #fail

TypeError: unsupported operand type(s) for -: 'list' and 'list'

$index$

In [36]:
list3

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [38]:
#python index start with zero
list3[0],list3[1],list3[2],list3[3]

(1, 2, 3, 4)

In [41]:
for i in range(len(list3)):
    print(i,list3[i])

0 1
1 2
2 3
3 4
4 A
5 B
6 C
7 D

In [42]:
list3[-1]
-7
1 2 3 4 a b c d
0 1 2 3 4 5 6 7

'D'

In [ ]:
for i in range(len(list3)):
    print('postive index is:{} and negative index is{}: for an element{}',format(i,i-1(len(string))))

In [45]:
#wap find the elements which are having len3
#list=['apple,'ball','cat','Ab','Cd','Ef']

#step-1: literate the list using for loop
#step-2: apply the if condition len(<element>)<3:
#step-3: print(element)

list1=['apple','ball','cat','Ab','Cd','Ef']
for i in range(len(list1)):
    if len(list1[i])<3:
        print(list1[i])

Ab
Cd
Ef

In [50]:
#wap find the elements which are having len#
#list=['app#e,'b#ll','c#t','Ab','Cd','Ef']

list1=['app#e','b#ll','c#t','Ab','Cd','Ef']
for i in list1:
    if '#' in i:
        print(i)

app#e
b#ll
c#t

In [51]:
count=0
list1=['app#e','b#ll','c#t','Ab','Cd','Ef']
for i in list1:
    if '#' in i:
        count=count+1
        
print(count)

3

In [57]:
list1=[1,2,3,['apple','ball']]
list1[3][1]

'ball'

In [61]:
list2=[[[[[[['cherry']]]]]]]
list2[0][0][0][0][0][0][0]

'cherry'

In [65]:
lit3=[[[['a','b',[[[1,2,3,['car']]]]]]]]
#retrive the car
lit3[0][0][0][2][0][0][3][0]

'car'

$mutable$

In [66]:
list1='welcome'
list[1]='L'

In [67]:
list1=['A','B','C']
list1[0]=100
list1

[100, 'B', 'C']

$slice$

In [7]:
list1=[10,20,30,40,50,'p','y','T','H','O','N','a','b','c','D']

print(list1[2:14:3])
print(list1[2:14:-3])
print(list1[2:-14:3])
print(list1[2:-14:-3])
print(list1[-2:14:3])
print(list1[-2:-14:3])
print(list1[-2:-14:-3])
print(list1[-2:14:-3])

[30, 'p', 'H', 'a']
[]
[]
[30]
['c']
[]
['c', 'N', 'T', 50]
[]

In [71]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$clear-copy$

In [72]:
list1=[1,2,3,4]
# i want copy these elements in a list2
list2=list1.copy()
list2

[1, 2, 3, 4]

In [74]:
list1=[1,2,3,4]
# i want copy these elements in a list2
list2=list1.copy()


list1.clear()

print('list1',list1)    #[]
print('list2',list2)    #[1,2,3,4]

list1 []
list2 [1, 2, 3, 4]

17-11-2023

$append$

In [1]:
# add(some thing) to the end of a written document

list1=[100,200]
#[100,200,300]
list1.append(300)
list1

[100, 200, 300]

In [7]:
list2=[]
list2.append(100)
list2.append(200)
list2.append(30)
list2

[100, 200, 30]

In [9]:
list1.append([20,30])

In [10]:
list1

[100, 200, 300, [20, 30]]

In [11]:
# Input list=[1,2,3,4,5]
#create a new list=[1,4,9,16,25]

list1=[1,2,3,4,5]
for i in list1:
    print(i*i)

1
4
9
16
25

In [10]:
list1=[1,2,3,4,5]                    #important
output=[]
for i in list1:
    output.append(i*i)
    
output

[1, 4, 9, 16, 25]

In [20]:
list2=['hyd','bengaluru','delhi']
output=[]
for i in list2:
 #    list2[i].capitalize()
        output.append(i.capitalize())
    
output

['Hyd', 'Bengaluru', 'Delhi']

In [1]:
list3=['h#d','beng#luru','delhi']
output=[]
for i in list3:
    if '#' in i:
        output.append(i)
        
output

['h#d', 'beng#luru']

**list comprehenshion**

In [11]:
#code in a single line====>speed the process
output1=[1,2,3,4,5]
output1=[i*i for i in list1]
output1

[1, 4, 9, 16, 25]

In [27]:
list2=['hyd','bengaluru','delhi']
output1=[i.capitalize() for i in list2]
output1

['Hyd', 'Bengaluru', 'Delhi']

In [32]:
#create the list of 20 numbers from 1 to 20
###########################1 method####################
for i in range(21):
    print(i)
    
 ##########################2 method##########################   
    
number=[]
for i in range(21):
    number.append(i)
    
number
#####################3method#######################
number1=[i for i in range(21)]
number1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [52]:
#list comprehension with if condition

list2=['hd#','beng#luru','delhi']
output=[]
for i in list2:
    if '#' in i:
        output.append(i)
output

output1=[i for i in list2 if '#' in i]
output1

['hd#', 'beng#luru']

In [48]:
list2=['hd#','beng#luru','delhi']
output=[]
for i in list2:
    if '#' in i:
        output.append(i)
print(output)
output1=[i for i in list2 if '#' in i]
print(output1)

['hd#', 'beng#luru']
['hd#', 'beng#luru']

In [34]:
list4=['abcd','abc','ac','a']
#elements less than 3
#['ac','a']

output=[i for i in list4 if len(i)<3]
output

['ac', 'a']

In [35]:
list1=[1,2,3,4,5,6]
output=[]
for i in list1:
    if i%2==0:
        output.append('even{}:'.format(i))
        
    else:
        output.append('odd {}:'.format(i))
output

['odd 1:', 'even2:', 'odd 3:', 'even4:', 'odd 5:', 'even6:']

In [39]:
output=['even:{}'.format(i) if i%2==0  else 'odd:{}'.format(i) for i in list1 ]
output

['odd:1', 'even:2', 'odd:3', 'even:4', 'odd:5', 'even:6']

In [40]:
list1=[1,2,3,'A','B','B','B','C']
list1.count('B')

3

In [41]:
count=0
for i in list1:
    if i=='B':
        count=count+1
        
print(count)

3

$extend$

In [43]:
list1=['A','B','C']
list2=[1,2,3]

list1.append(list2)
list1
#here the list1 will be updated with list2 values

['A', 'B', 'C', [1, 2, 3]]

- append will add the element at least,that element can be any type
- list1=[1,2,3]
- list2=['A','B','C']
- list1.append(list2)=[1,2,3['A','B','C']
                      
- extend will update the list by adding new elements,the result also save in a same list
-  concat will add two list, but the result will

$ilerator$

In [ ]:
- iterator word====> loop
- the elements we can print using for loop
- string='python' we can print each letter using for loop
-  list1=[1,2,3] we can print each element using for loop

In [44]:
val=reversed('python')
for i in val:
    print(i)

n
o
h
t
y
p

In [45]:
list1=[1,2,3]
list1.extend('python')
list1.append('python')
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

*pop-remove-del**

In [46]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [48]:
list1.pop()

# in side bracket default argument is there,index=-1
#-1 means last value
#if you not provide any value
#if will remove last value
#if i provide any index, it will remove that element
# it  is also returing,which element it is removing

'python'

In [49]:
list1.pop(100)

IndexError: pop index out of range

In [50]:
list1=[100,200,100,300]
list1.remove(100)
list1

[200, 100, 300]

In [51]:
del(list1)

In [52]:
list1

NameError: name 'list1' is not defined

In [53]:
list1=[100,200,100,300]
del list1[2]
list1

[100, 200, 300]

In [ ]:
-index    vs m
-insert   vs append
-reverse  ascending and descending=======reversed
-sort  =======sorted
-difference between reverse and sort

In [63]:
list1=[100,200,100,300]
list1.index(300)

3

In [60]:
list1=[100,200,100,300]
list1.insert(300,100)

In [1]:
list1=[100,200,100,300]
list1.reversed()

AttributeError: 'list' object has no attribute 'reversed'

$zip$

In [65]:
list1=['Ram','Robert','raheem']
list2=[25,30,35]
for i,j in  zip(list1,list2):
    print('{} age is{}'.format(i,j))

Ram age is25
Robert age is30
raheem age is35

In [69]:
list1=[100,200,300]
list2=[25,30,35]
for i,j in zip(list1,list2):
    print('add {}'.format(i+j))

add 125
add 230
add 335

In [70]:
output=[i+j for i,j in zip(list1,list2)]
output

[125, 230, 335]

In [ ]:
# take 5 questions in list1
#take corresponding 5 answers in another list1
#iterate through list1
#every question should print
#answer =input('tell the answer')
#answer will check in list2
#if it is there: marsks=marks+1
#else: no marks


#####################################################
#list1=['who is PM of india','what is the capital of india','who is president of india']
#list2=['modi','delhi','draupadi']
#marks=0
# correct_answr=0
# for i in range(len(list1)):
# print('Q1:'<>)
# answer=input("enter the answer")
# if answer.lower()==list2.index(i):
# marks+=1

In [25]:
list1=['who is PM of india','what is the capital of india','who is president of india']
list2=['modi','delhi','draupadi']
marks=0
correct_answer=0
for i in range(len(list1)):
    print('Q1:',list1[i])
    answer=input("enter the answer")
    if answer.lower()==list2[i]:
        marks+=1
    
print(marks)
print(correct_answer)

Q1: who is PM of india
enter the answermodi
Q1: what is the capital of india
enter the answerfkjj
Q1: who is president of india
enter the answerjhjfj
1
0

In [18]:
list1=['who is PM of india'
       'what is the capital of india'
       'who is president of india']
list2=['Modi',
       'Delhi',
       'Draupadi']
marks=0
for i in range(len(list1)):
    answer=input(list1[i])
    if answer.lower()==list2.lower():
        marks+=1
print( "correct:",marks,"wrong:",{len(list1)})

who is PM of indiawhat is the capital of indiawho is president of indiamodi

AttributeError: 'list' object has no attribute 'lower'

In [41]:
list3=['h#d','beng#luru','delhi']
# output=['h#d','beng#luru']
output=[]
for i in list3:
    if '#' in i:
    output.append(i)
output
#[<o/p> <forloop> <if_condition>]
output1=[i for i in list3 if '#' in i]
output1

IndentationError: expected an indented block after 'if' statement on line 5 (3863641260.py, line 6)

18-11-2023

In [8]:
arr=[100,120,130]
#write a program to find the max value without using max method
maxmium=0
for i in arr:
    if i>maxmium:
        maxmium=i
print('the maxmium in the array is:',maxmium)

the maxmium in the array is: 130

In [ ]:
list1=[20,30,50,60,100,90,70,50,30]