In [2]:
string1='python'

'p' in string1
'y' in string1
't' in string1
'h' in string1
'o' in string1
'n' in string1

True

In [3]:
for i in string1:
    print(i)

p
y
t
h
o
n

In [4]:
print(ord('p'))
print(ord('y'))
print(ord('t'))
print(ord('h'))
print(ord('o'))
print(ord('n'))

print(ord(i))

112
121
116
104
111
110
110

In [7]:
for i in string1:
    print('the ascii value of {} is {}'.format(i,ord(i)))

the ascii value of p is 112
the ascii value of y is 121
the ascii value of t is 116
the ascii value of h is 104
the ascii value of o is 111
the ascii value of n is 110

In [22]:
for i in string.ascii_uppercase:
    print('the ascii value of{} is{}'.format(i,ord(i)))

the ascii value ofA is65
the ascii value ofB is66
the ascii value ofC is67
the ascii value ofD is68
the ascii value ofE is69
the ascii value ofF is70
the ascii value ofG is71
the ascii value ofH is72
the ascii value ofI is73
the ascii value ofJ is74
the ascii value ofK is75
the ascii value ofL is76
the ascii value ofM is77
the ascii value ofN is78
the ascii value ofO is79
the ascii value ofP is80
the ascii value ofQ is81
the ascii value ofR is82
the ascii value ofS is83
the ascii value ofT is84
the ascii value ofU is85
the ascii value ofV is86
the ascii value ofW is87
the ascii value ofX is88
the ascii value ofY is89
the ascii value ofZ is90

In [14]:
for i in "abcdefghijklmnopqrstuvwyxyz":
    print('the ascii value of{} is{}'.format(i,ord(i)))

the ascii value ofa is97
the ascii value ofb is98
the ascii value ofc is99
the ascii value ofd is100
the ascii value ofe is101
the ascii value off is102
the ascii value ofg is103
the ascii value ofh is104
the ascii value ofi is105
the ascii value ofj is106
the ascii value ofk is107
the ascii value ofl is108
the ascii value ofm is109
the ascii value ofn is110
the ascii value ofo is111
the ascii value ofp is112
the ascii value ofq is113
the ascii value ofr is114
the ascii value ofs is115
the ascii value oft is116
the ascii value ofu is117
the ascii value ofv is118
the ascii value ofw is119
the ascii value ofy is121
the ascii value ofx is120
the ascii value ofy is121
the ascii value ofz is122

In [21]:
for i in string.ascii_lowercase:
    print('the ascii value of{} is{}'.format(i,ord(i)))

the ascii value ofa is97
the ascii value ofb is98
the ascii value ofc is99
the ascii value ofd is100
the ascii value ofe is101
the ascii value off is102
the ascii value ofg is103
the ascii value ofh is104
the ascii value ofi is105
the ascii value ofj is106
the ascii value ofk is107
the ascii value ofl is108
the ascii value ofm is109
the ascii value ofn is110
the ascii value ofo is111
the ascii value ofp is112
the ascii value ofq is113
the ascii value ofr is114
the ascii value ofs is115
the ascii value oft is116
the ascii value ofu is117
the ascii value ofv is118
the ascii value ofw is119
the ascii value ofx is120
the ascii value ofy is121
the ascii value ofz is122

In [20]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [19]:
import string

In [23]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [24]:
for i in string.punctuation:
    print('the ascii value of{} is{}'.format(i,ord(i)))

the ascii value of! is33
the ascii value of" is34
the ascii value of# is35
the ascii value of$ is36
the ascii value of% is37
the ascii value of& is38
the ascii value of' is39
the ascii value of( is40
the ascii value of) is41
the ascii value of* is42
the ascii value of+ is43
the ascii value of, is44
the ascii value of- is45
the ascii value of. is46
the ascii value of/ is47
the ascii value of: is58
the ascii value of; is59
the ascii value of< is60
the ascii value of= is61
the ascii value of> is62
the ascii value of? is63
the ascii value of@ is64
the ascii value of[ is91
the ascii value of\ is92
the ascii value of] is93
the ascii value of^ is94
the ascii value of_ is95
the ascii value of` is96
the ascii value of{ is123
the ascii value of| is124
the ascii value of} is125
the ascii value of~ is126

In [25]:
ord('a')

97

In [26]:
string='hai how are you and how do you do'
count=0
for i in string:
    if i=='a':
        count=count+1
        
print(count)

3

In [27]:
string='hai how are you and how do you do'
count=0
for i in string:
    if i=='o':
        count=count+1
        
print(count)

6

In [30]:
#vowels
string='hai how are you and how do you do'
count=0
for i in string:
    if i in 'aioeu':
        count=count+1
    
print(count)

13

In [31]:
string='hai how are you'
count=0
for i in string:
    if i in 'aeiou':
        count=count+1
        
print(count)

7

In [33]:
a=''
count=0
string='hai how are you'
for i  in string:
     if i in 'aeiou':
            if i in a:
                print()
            else:
                a=a+i
print(f"number of unqiue vowels: {len(a)}" )

number of unqiue vowels: 5

In [35]:
string1='python'
for i in string1:
    print(i)
    
for i in range(len(string1)):
    print(i,string1[i])

p
y
t
h
o
n
0 p
1 y
2 t
3 h
4 o
5 n

In [36]:
for i in string1:
    print(i,end=' ')

p y t h o n

In [39]:
for i in range(len(string1)):
    print(i,string1[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [41]:
string1[-1]

'n'

In [51]:
for i in range(len(string1)):
    print('the nagative index of {} is {}'.format(string1[i],i-6))

the nagative index of p is -6
the nagative index of y is -5
the nagative index of t is -4
the nagative index of h is -3
the nagative index of o is -2
the nagative index of n is -1

In [52]:
for i in range(-len(string1),0):
    print('the nagative index of {} is {}'.format(string1[i],i))

the nagative index of p is -6
the nagative index of y is -5
the nagative index of t is -4
the nagative index of h is -3
the nagative index of o is -2
the nagative index of n is -1

In [59]:
string1='python'
for i in range(len(string1)):
    print('the postive index is {} and negative index is {} for {}'.format(i,i-6,string1[i]))

the postive index is 0 and negative index is -6 for p
the postive index is 1 and negative index is -5 for y
the postive index is 2 and negative index is -4 for t
the postive index is 3 and negative index is -3 for h
the postive index is 4 and negative index is -2 for o
the postive index is 5 and negative index is -1 for n

In [2]:
i=0
while i<len(string1):
     print('the postive index is {} and negative index is {} for {}'.format(i,i-6,string1[i]))
    i=i+1

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [78]:
string1='hai how are you'
string1[2:10]

'i how ar'

In [80]:
string1='hai how are you'
string1[2:10:3]

'ioa'

In [81]:
string1[:]

'hai how are you'

In [83]:
string1[2:10:-5]

''

In [84]:
string1[8:-14:-2]

'awhi'

In [85]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [87]:
string1='welcome'
string1.capitalize()

'Welcome'

In [89]:
string1='harshini'
string1.upper()

'HARSHINI'

In [91]:
string1='THAmas'
string1.lower()

'thamas'

In [96]:
string11='thamas'
#str1=th
#str2=mas
str1=string11[:2]
str2=string11[3:]
str1+'A'+str2

'thAmas'

In [95]:
string2='welcome'
str1=string2[:2]
str2=string2[3:]
str1+'L'+str2

'weLcome'

In [98]:
string33='harshinithamas'
str1=string33[:8]
str2=string33[6:]
str1+'weds'+str2

'harshiniwedsnithamas'

In [99]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [101]:
i=0
while i<10:
    print(i,end=' ')
    i=i+1

0 1 2 3 4 5 6 7 8 9

In [103]:
i=10
while i<20:
    print(i,end=' ')
    i=i+1

10 11 12 13 14 15 16 17 18 19

In [106]:
i=10
while i>-11:
    print(i,end=' ')
    i=i-1

10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5 -6 -7 -8 -9 -10

In [108]:
i=10
while True:
    print(i,end=' ')
    i=i-1
    if i==-11:
        break

10 9 8 7 6 5 4 3 2 1 0 -1 -2 -3 -4 -5 -6 -7 -8 -9 -10

In [4]:
for i in range(5):
    num=eval(input('enter a number:'))
    total=num*num
    print('the square of {} is{}'.format(num,total))

enter a number:6
the square of 6 is36
enter a number:7
the square of 7 is49
enter a number:8
the square of 8 is64
enter a number:9
the square of 9 is81
enter a number:10
the square of 10 is100

In [7]:
i=0
while i<=4:
    num=eval(input('ente a number:'))
    print('the square ',num*num)
    i=i+1

ente a number:9
the square  81
ente a number:4
the square  16
ente a number:3
the square  9
ente a number:7
the square  49
ente a number:8
the square  64

In [9]:
import random
for i in range(5):
    a=random.randint(10,20)
    print('the square ',a,a*a)

the square  16 256
the square  17 289
the square  14 196
the square  14 196
the square  20 400

In [10]:
#while
import random
i=0
while i<=4:
    a=random.randint(10,30)
    print('the square ',a,a*a)
    i=i+1

the square  15 225
the square  27 729
the square  22 484
the square  27 729
the square  28 784

In [11]:
for i in range(10,21):
    if i%2==0:
        print('even number',i)
    else:
        print('odd number',i)

even number 10
odd number 11
even number 12
odd number 13
even number 14
odd number 15
even number 16
odd number 17
even number 18
odd number 19
even number 20

1. question
Guess a number is a game that prompts a player to guess a number between 0 and 9, which
is randomly generated by the system. When the input given by the user matches the
number generated by the system then the user wins. The game should go as follows:

Guess the number: 5
Sorry, try again
Guess the number: 3
Sorry, try again
Guess the number: 8
You got it right! Congo!

In [45]:
i=0
import random
num=random.randint(0,9)
while i<3:
    guess=eval(input('guess the number:'))
    if num==guess:
        print('you got it right! Cango!')
        break
    else:
        print('sorry,try again')

    i=i+1

guess the number:7
sorry,try again
guess the number:3
you got it right! Cango!

2 question
Make an improvement to the Guess a number game. Guide the user where they are
standing and limit the number of attempts to 3. For example, the game should go like this:

Guess the number: 4
Too low
Guess the number: 9
Too high
Guess the number: 5
Sorry you Lost!

In [48]:
i=0
while i<3:
    guess=eval(input('guess the number:'))
    if i==guess:
        print('sorry you lost!')
        break
    elif 4==guess:
        print('too low')
    else:
        print('too high')
    i=i+1

guess the number:4
too low
guess the number:9
too high
guess the number:5
too high

#3 question
Let us make the above game a little more interesting by converting it into a gambling
problem. Suppose that a player starts with Rs. 1,000. If a player can guess the number in his
first chance, then he will be given a prize of Rs. 5,000, if he requires 2 attempts then he will
get a prize of Rs.1,000. If he loses then he will lose Rs. 500. For example the game should go
like this:

You have a cash of Rs. 1,000 with you...
Guess the number: 8
Too high
Guess the number: 3
You have just won Rs. 1,000

In [50]:
 print('You have a cash of Rs. 1,000 with you...')
i=0
while i<3:
    guess=eval(input('guess the number:'))
    if i==guess:
        print('You have just won Rs. 1,000')
        break
    else:
        print('too high')
    i=i+1

You have a cash of Rs. 1,000 with you...
guess the number:8
too high
guess the number:3
too high
guess the number:2
You have just won Rs. 1,000

4. question
Your balance: Rs. 2000
4. Suppose that a player wants to play a game which requires him Rs. 1,000 to start. If the
current balance in his account is less than Rs. 1,000 he needs to withdraw the extra money
from his e-wallet.

Note that if the sum of money in his courrent account and the amount withdrawn is greater than
or equal to Rs. 1,000 then he can start playing the game. However if the sum is less than Rs.
1,000 then the program should keep displaying the user the message “You still do not have
enough money to start playing.” and keep prompting the user to withdraw money unless it
crosses Rs. 1,000. Once ready, i.e. if his current account balance crosses Rs. 1,000, it will display
a message “Now, you are ready to play the game.” Your program should also display the account
balance and the current amount in the e-wallet.

(consider: initial account balance is Rs. 200 and money in the e-wallet is Rs. 5,000)

(Do further improvement by checking if the e-wallet balance becomes NIL, etc.)

In [ ]:
i=0
print('current balance in his account is less than 1,000 ')
while i<3:
    current_balance=2000
    e_wallet=5000
    num=eval(input('enter a number:'))
    a=('with_drawn')
if a>=1000:
    if sum==1000:
        print('then starts playing the game.')
    elif sum<1000:
        print('“You still do not have enough money to start playing.')
    elif current_balance<1000:
        print('Now, you are ready to play the game.')
        break
    else:
        print('account balance')
        print('current amount of e_wallet')
        i=i+1

In [3]:
for i in range(20): print(i,end=' ')

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [4]:
for i in range(2,7):
    print(i,end=' ')

2 3 4 5 6

In [5]:
for i in range(-6,5):
    print(i,end=' ')

-6 -5 -4 -3 -2 -1 0 1 2 3 4

In [8]:
for i in range(-6,5,3):
    print(i,end=' ')

-6 -3 0 3

In [9]:
for i in range(3):
    print('mahesh')

mahesh
mahesh
mahesh

In [10]:
print('lakshmi')
for i in range(2):
    print('harshini')
print('sahithi')

lakshmi
harshini
harshini
sahithi

In [12]:
for i in range(2):
    print('vaishu')
    print('sahithi')
for i in range(2):
    print('harsha')
for i in range(2):
    print('lakshmi')

vaishu
sahithi
vaishu
sahithi
harsha
harsha
lakshmi
lakshmi

In [15]:
for i in range(10,18):
    print('the addition',i,i+i)

the addition 10 20
the addition 11 22
the addition 12 24
the addition 13 26
the addition 14 28
the addition 15 30
the addition 16 32
the addition 17 34

In [16]:
num1=eval(input('enter start number:'))
num2=eval(input('enter stop number:'))

for i in range(num1,num2):
    print('the addition',i,i+i)

enter start number:20
enter stop number:30
the addition 20 40
the addition 21 42
the addition 22 44
the addition 23 46
the addition 24 48
the addition 25 50
the addition 26 52
the addition 27 54
the addition 28 56
the addition 29 58

In [17]:
for i in range(eval(input('enter start number:')),
               eval(input('enter stop number:'))):
    print('the addition',i,i+i)

enter start number:10
enter stop number:20
the addition 10 20
the addition 11 22
the addition 12 24
the addition 13 26
the addition 14 28
the addition 15 30
the addition 16 32
the addition 17 34
the addition 18 36
the addition 19 38

In [19]:
num1=22
num2=33

for i in range(num1,num2):
    print('the square ',i,i*i)

the square  22 484
the square  23 529
the square  24 576
the square  25 625
the square  26 676
the square  27 729
the square  28 784
the square  29 841
the square  30 900
the square  31 961
the square  32 1024

In [20]:
def addition():
    num1=22
    num2=33

    for i in range(num1,num2):
        print('the addition',i,i+i)
    
addition()

the addition 22 44
the addition 23 46
the addition 24 48
the addition 25 50
the addition 26 52
the addition 27 54
the addition 28 56
the addition 29 58
the addition 30 60
the addition 31 62
the addition 32 64

In [21]:
def addition1(num1,num2):
    for i in range(num1,num2):
        print('the addition',i,i+i)
        
addition1(10,13)

the addition 10 20
the addition 11 22
the addition 12 24

In [22]:
def addition1(num1,num2=20):
    for i in range(num1,num2):
        print('the addition',i,i+i)
        
addition1(10,30)

the addition 10 20
the addition 11 22
the addition 12 24
the addition 13 26
the addition 14 28
the addition 15 30
the addition 16 32
the addition 17 34
the addition 18 36
the addition 19 38
the addition 20 40
the addition 21 42
the addition 22 44
the addition 23 46
the addition 24 48
the addition 25 50
the addition 26 52
the addition 27 54
the addition 28 56
the addition 29 58

In [23]:
def addition1(num1=20,num2):
    for i in range(num1,num2):
        print('the addition',i,i+i)
        
addition1(10,30)

SyntaxError: non-default argument follows default argument (3823255487.py, line 1)

In [27]:
for i in range(3):
    num=eval(input('enter a number:'))
    print('the square ',num,num*num)

enter a number:7
the square  7 49
enter a number:9
the square  9 81
enter a number:13
the square  13 169

In [30]:
import random
for i in range(3):
    a=eval(input('enter a number:'))
    num=random.randint(10,20)
    print('the square of {} is {}'.format(a,a*a))

enter a number:2
the square of 2 is 4
enter a number:9
the square of 9 is 81
enter a number:5
the square of 5 is 25

In [31]:
for num in range(10,20):
    if num%2==0:
        print('even',num)
    else:
        print('odd',num)

even 10
odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19

In [32]:
import random
for i in range(4):
    a=random.randint(10,30)
    if a%2==0:
        print('the given {} is even'.format(a))
    else:
        print('the given {} is odd'.format(a))

the given 27 is odd
the given 23 is odd
the given 10 is even
the given 15 is odd

In [33]:
import random
def even_odd():
    for i in range(4):
        aa=random.randint(20,30)
        if aa%2==0:
            print('even',aa)
        else:
            print('odd',aa)
            
even_odd()

even 30
odd 21
odd 27
odd 29

In [34]:
import random
random_num=random.randint(1,20)
for i in range(4):
    ab=eval(input('enter a number 1 to 20:'))
    if ab==random_num:
        print('you won')
    else:
        print('you lost')

enter a number 1 to 20:7
you lost
enter a number 1 to 20:8
you lost
enter a number 1 to 20:2
you lost
enter a number 1 to 20:20
you lost

In [36]:
import random
random_num=random.randint(10,20)
print(random_num)
for i in range(3):
    user_num=eval(input('enter number between 10 to 20:'))
    if user_num==random_num:
        print('you won')
        break
    else:
        print('you lost')
        print('the number of chances left is:',3-1-i)

18
enter number between 10 to 20:12
you lost
the number of chances left is: 2
enter number between 10 to 20:18
you won

In [ ]:
import random
randomm=random.randint(20,30)
print(randomm)
chances=eval(input('enter how many chances you want:'))
for i in range(chances):
    user_num=eval(input('enter number between 20 and 30:'))
    if user_num==randomm:
        print('you won')
        break
    else:
        print('you lost')
        print('the number of chances left is',chances-1-i)

29
enter how many chances you want:22

In [20]:
count=1
i=2
n=eval(input('enter the number:'))
while i<n:
    j=0
    while j<n:
        print('  {}. {} + {} is{} '.format(j,count,i,count+i))
        j=j+1
        count=count+i
        i=i+1

enter the number:9
  0. 1 + 2 is3
  1. 3 + 3 is6
  2. 6 + 4 is10
  3. 10 + 5 is15
  4. 15 + 6 is21
  5. 21 + 7 is28
  6. 28 + 8 is36
  7. 36 + 9 is45
  8. 45 + 10 is55

In [19]:
count=1
i=2
n=eval(input('enter the number:'))
while i<=n:
    temp=count+i
    print('{} + {} is {}  '.format(count,i,temp))
    count=count+i
    i=i+1

enter the number:9
1 + 2 is 3
3 + 3 is 6
6 + 4 is 10
10 + 5 is 15
15 + 6 is 21
21 + 7 is 28
28 + 8 is 36
36 + 9 is 45

In [9]:
list1=['harsha','harshini','diya','df','cv','er']
for i in range(len(list1)):
    if len(list1[i])<3:
        print(list1[i])
        
for i in list1:
    if len(i)<2:
        print(i)

df
cv
er

In [11]:
list1=['app#e','te#a','cat','ball','d#g']
count=0
for i in list1:
    if '#' in i:
        count+=1
print(count)

3

In [ ]:
list1=['app#e','te#a',['cat','ball','d#g']

In [5]:
float=5.4
integer_number=int(float)
print('integer number is',integer_number)

integer number is 5

In [11]:
int=80
result=float(int)
print(result)

TypeError: 'float' object is not callable

In [15]:
gfp='geeksforgeeks'
print(gfp[::-1])

skeegrofskeeg

In [17]:
count=0
while(count<2):
    count+=1
    print('hello world')

hello world
hello world

In [20]:
n=4
for i in range(1,n):
    print(i,end=' ')

1 2 3

In [3]:
s='hello world'
for i in s:
    if i=='e'or i=='l':
        continue
    else:
        print(i)

h
o

w
o
r
d

In [4]:
s='hello world'
for i in s:
    if i=='e'or i=='l':
        break
    else:
        print(i)

h

In [38]:

for i in range(0,10):
    print(i,end=' ')
    if i==2:
        break

0 1 2

In [42]:
for i in range(5):
    print(i)
    if i==3:
        continue
        print(i)

0
1
2
3
4

In [48]:

for i in range(0,10):
    if i==3:
        continue
        print(i)

In [49]:
n=10
if n>10:
    pass
print('hello')

hello

In [52]:
stack=[]

stack.append('a')
stack.append('b')
stack.append('c')

In [53]:
import array as arr
a=arr.array('i',[1,2,4,9])
print('frist element:',a[0])
print('second element:',a[1])
print('last element:',a[3])

frist element: 1
second element: 2
last element: 9

In [57]:
m=hash_function(50,hash_function_1)
for i in range(50):
    m.put('str' +str(i),i*100)
    if i%25==24:
        print(m.empty_buckets(),m.table_load(),m.size, m.capacity)

NameError: name 'hash_function' is not defined

In [58]:
student_id={112,114,116,118,115}
print('student ID',student_id)

student ID {112, 114, 115, 116, 118}

In [59]:
v={'a','o','i','e','u'}
print('vowel Letter',v)

vowel Letter {'o', 'i', 'a', 'e', 'u'}

In [60]:
m={'hello',101,-2,'bye'}
print('set of mixed data types:',m)

set of mixed data types: {'hello', 'bye', 101, -2}

In [14]:
str2='omkar.nallagoni@cogizant.com'
str2.find('.')
num1=str2[0:5]
print(num1)
str2.find('@')
num2=str2[6:15]
print(num2)
str2.find('.c')
num3=str2[16:24]
print(num3)

omkar
nallagoni
cogizant

In [22]:
str1='harshini.desulakshmi@gmail.com'
str1.find('.')
n=str1[0:8]
print(n)
str1.find('@')
n1=str1[9:20]
print(n1)
str1.find('om')
n2=str1[21:28]
print(n2)

harshini
desulakshmi
gmail.c

In [1]:
names=['ram','raheem','robert']
age=[35,25,30]
dict1=dict(zip(names,age))
dict1

{'ram': 35, 'raheem': 25, 'robert': 30}

In [24]:
import random
d1={'even':[],'odd':[]}
[d1['even'].append(num) if (num:=random.randint(10,20))%2==0  else d1['odd'].append(num) for i in range(5)]
d1

{'even': [20, 14, 16], 'odd': [13, 15]}

In [14]:
import random
dict1={}
l1=[]
l2=[]
for i in range(5):
    num=random.randint(10,20)
    if num%2==0:
        l1.append(num)
    else:
        l2.append(num)
dict1['even']=l1
dict1['odd']=l2
dict1

{'even': [12, 16, 16, 10], 'odd': [13]}

In [38]:
import random 
jk=[random.randint(10,30) for i in range(5)]
dict1={'even':[jk , num%2==0],
      'odd':[jk if num%2!=0]}
else:
print('dictionary:',dict1)

SyntaxError: expected 'else' after 'if' expression (301498598.py, line 4)

In [35]:
import random
jk=[random.randint(20,30) for _ in range(5)]
dict1={'even':[num for num in jk if num%2==0],
      'odd':[num for num in jk if num%2!=0]}
print('dictionary',dict1)

dictionary {'even': [30, 20], 'odd': [27, 29, 29]}

1. Write a program that asks the user to enter a string. The program should then print the following:
(a) The total number of characters in the string
(b) The string repeated 10 times
(c) The first character of the string (remember that string indices start at 0) (d) The first three
characters of the string
(e) The last three characters of the string
(f) The string backwards
(g) The seventh character of the string if the string is long enough and a message otherwise
(h) The string with its first and last characters removed
(i) The string in all caps
(j) The string with every a replaced with an e

In [1]:
def add(a):
    print(a+10)
add(20)

30

In [2]:
def add(a):
    summ=a+10
    print(summ)
add(20)

30

In [3]:
add=lambda a:a+10
add(20)

30

In [4]:
square=lambda a:a*a
square(9)

81

In [6]:
cube=lambda a,b:(a*a*a,b*b*b)
cube(8,4)

(512, 64)

In [7]:
avg=lambda a,b,c:(a+b+c)/3
avg(3,4,6)

4.333333333333333

In [8]:
round(4.3333333333333,2)

4.33

In [10]:
def greater(a,b):
    if a>b:
        print(a)
    else: 
        print(b)
greater(90,30)

90

In [12]:
l1=[]
def greater(a,b):
    if a>b:
        l1.append(a)
    else:
        l1.append(b)
greater(20,57)
l1

[57]

In [17]:
z=(1,[2,3])
type(z)

TypeError: 'tuple' object is not callable

In [ ]:
wap to ask the user for some numbers and find all the combinations
of 3 numbers whose sum adds up to zero(0). suppose the input numbers are
(-1,1,0,2,-3,4).then output will be(-3,-1,4),(-3,1,2),(-1,0,1).

In [28]:
l=[-1,1,0,2,-3,4]
n=l.copy()
for i in range(len(l)-2):
    n.remove(l[i])
    x=n.copy()
    for j in range(len(n)-1):
        x.remove(n[j])
        for k in range(len(x)):
            if(l[i]+n[j]+x[k])==0:
                print((l[i],n[j],x[k]),end=' ')
                break

(-1, 1, 0) (-1, -3, 4) (1, 2, -3)

In [40]:
l=[-1,1,0,2,-3,4]
n=l.copy()
for i in range(len(l)-2):
    n.remove(l[i])
    
    x=n.copy()
    for j in range(len(n)-1):
        x.remove(n[j])
        
        for k in range(len(x)):
            if(l[i]+n[j]+x[k])==0:
                print((l[i],n[j],x[k]),end=' ')

(-1, 1, 0) (-1, -3, 4) (1, 2, -3)

In [ ]:
12. Write a program that asks the user to enter their name in lowercase and then capitalizes the first
letter of each word of their name.

In [45]:

name = "hi how are you"
def capitalize_name(name):
    name_list = name.split()
    capitalized_name = [word.capitalize() for word in name_list]
    capitalized_name = " ".join(capitalized_name)
    return capitalized_name

capitalized_name = capitalize_name(name)
print(capitalized_name)

Hi How Are You

In [46]:
n='hi how are you harshini'
n.split()

['hi', 'how', 'are', 'you', 'harshini']

In [53]:
n='hi ho ware you'
m=n.split()
l1=[name.capitalize() for name in  m]
l1=' '.join(l1)
print(l1)

In [1]:
dict={}
even_list=[]
odd_list=[]
import random
for i in range(5):
    num=random.randint(20,30)
    if num%2==0:
        even_list.append(num)
    else:
        odd_list.append(num)
dict['even']=even_list
dict['odd']=odd_list
dict

{'even': [24, 22], 'odd': [29, 25, 27]}

In [2]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [3]:
s1={'harsha':30,'akhila':29,'bharavi':31}
s1

{'harsha': 30, 'akhila': 29, 'bharavi': 31}

In [4]:
s1.items()

dict_items([('harsha', 30), ('akhila', 29), ('bharavi', 31)])

In [5]:
s1.keys()

dict_keys(['harsha', 'akhila', 'bharavi'])

In [6]:
s1.values()

dict_values([30, 29, 31])

In [12]:
values
tuple(values)

(30, 29, 31)

In [10]:
values=s1.values()
values

dict_values([30, 29, 31])

In [ ]:
dict1={'harsha':30,'akhila':29,'bharavi':31}

In [14]:
str1='harsha sai are you  able to read are write to sai to'
str1=str1.split()
print(str1)

s={}
for i in str1:
    if i in s:
        s[i] =s[i]+1
    else:
        s[i]=1
s

['harsha', 'sai', 'are', 'you', 'able', 'to', 'read', 'are', 'write', 'to', 'sai', 'to']

{'harsha': 1,
 'sai': 2,
 'are': 2,
 'you': 1,
 'able': 1,
 'to': 3,
 'read': 1,
 'write': 1}

In [15]:
s='harsha sai are you  able to read are write to sai to'
a=s.split()
d={}
for i in a:
    d[i]=a.count(i)
d

{'harsha': 1,
 'sai': 2,
 'are': 2,
 'you': 1,
 'able': 1,
 'to': 3,
 'read': 1,
 'write': 1}

In [17]:
d={'c':3,'e':5,'f':9,'r':34}
d1={'c':4,'e':9,'f':8}
for i in d1:
    d[i]+=d1[i]
d1

{'c': 4, 'e': 9, 'f': 8}