In [ ]:
#strings
#list
#dictionary
#tuple
#set

# **how to read the strings**

In [1]:
string1='python'
string1             #single qotes

'python'

In [2]:
string2="python"          #double quotes
string2

'python'

In [ ]:
## triple quotes
#doc string is used to say some information about your python code

In [ ]:
"""
im creating a hello function
arguments: none
return:   none
"""
def hello():
    print("good morning")

In [ ]:
'hello python'     # i want highlite the python

In [3]:
string3='hello  "python"'
print(string3)

hello  "python"

In [4]:
string4="hello  'python'"
print(string4)

hello  'python'

In [ ]:
-type 

-len

-max

-min

**type:**

In [5]:
type(string1)       #str

str

**len**

In [6]:
len(string1)

6

**max-min**

In [8]:
string1='pP'
max(string1)

#ASCII
#'A'=65      'a'=97

'p'

**ord-chr**

In [9]:
ord('p')    #it will provide ascii value of chr

112

ord('p')

In [10]:
ord('p'),ord('y'),ord('t'),ord('h'),ord('o'),ord('n')

(112, 121, 116, 104, 111, 110)

In [11]:
chr(112),chr(121),chr(116),chr(104),chr(111),chr(110)

('p', 'y', 't', 'h', 'o', 'n')

In [ ]:
for i in range(10) #range ======math
eval

In [12]:
# i want print p y t h o n

**in**

In [13]:
string1='python'

'p' in string1
'y' in string1
't' in string1
'h' in string1
'o' in string1
'n' in string1

#i in string1

True

In [14]:
for i in  string1:
    print(i)

p
y
t
h
o
n

-  range():   you need to provide number inside the range
    
- in     :  is used only for strings

In [ ]:
if you want print the letters using for loop go for in operator

In [ ]:
print(ord('p'))
print(ord('y'))
ord('t')
ord('h')
ord('o')
ord('n')

In [15]:
for i in string1:
    print(ord(i))

112
121
116
104
111
110

In [17]:
for i in string1:
    print('the ascii value of {} is{}'.format(i,ord(i)))

the ascii value of p is112
the ascii value of y is121
the ascii value of t is116
the ascii value of h is104
the ascii value of o is111
the ascii value of n is110

In [20]:
# Ascii value of A to Z
for i in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ':
    print('the ascii value {} is{}'.format(i,ord(i)))

the ascii value A is65
the ascii value B is66
the ascii value C is67
the ascii value D is68
the ascii value E is69
the ascii value F is70
the ascii value G is71
the ascii value H is72
the ascii value I is73
the ascii value J is74
the ascii value K is75
the ascii value L is76
the ascii value M is77
the ascii value N is78
the ascii value O is79
the ascii value P is80
the ascii value Q is81
the ascii value R is82
the ascii value S is83
the ascii value T is84
the ascii value U is85
the ascii value V is86
the ascii value W is87
the ascii value X is88
the ascii value Y is89
the ascii value Z is90

In [ ]:
#package_name: string
import string

In [21]:
dir(string)

NameError: name 'string' is not defined

In [22]:
import string
for i in string.ascii_uppercase:
    print('the ascii value of {} is{}'.format(i,ord(i)))

the ascii value of A is65
the ascii value of B is66
the ascii value of C is67
the ascii value of D is68
the ascii value of E is69
the ascii value of F is70
the ascii value of G is71
the ascii value of H is72
the ascii value of I is73
the ascii value of J is74
the ascii value of K is75
the ascii value of L is76
the ascii value of M is77
the ascii value of N is78
the ascii value of O is79
the ascii value of P is80
the ascii value of Q is81
the ascii value of R is82
the ascii value of S is83
the ascii value of T is84
the ascii value of U is85
the ascii value of V is86
the ascii value of W is87
the ascii value of X is88
the ascii value of Y is89
the ascii value of Z is90

In [23]:
import string
for i in string.ascii_lowercase:
    print('the ascii value of {} is{}'.format(i,ord(i)))

the ascii value of a is97
the ascii value of b is98
the ascii value of c is99
the ascii value of d is100
the ascii value of e is101
the ascii value of f is102
the ascii value of g is103
the ascii value of h is104
the ascii value of i is105
the ascii value of j is106
the ascii value of k is107
the ascii value of l is108
the ascii value of m is109
the ascii value of n is110
the ascii value of o is111
the ascii value of p is112
the ascii value of q is113
the ascii value of r is114
the ascii value of s is115
the ascii value of t is116
the ascii value of u is117
the ascii value of v is118
the ascii value of w is119
the ascii value of x is120
the ascii value of y is121
the ascii value of z is122

In [24]:
#what is the start and end of ascii number?

for i in range(1,50):
    print(i,chr(i))

1 
2 
3 
4 
5 
6 
7 
8 
9
10

11
12
13
14 
15 
16 
17 
18 
19 
20 
21 
22 
23 
24 
25 
26 
27 
28
29
30
31
32
33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1

In [25]:
for i in range(33,127):
    print(i,chr(i))

33 !
34 "
35 #
36 $
37 %
38 &
39 '
40 (
41 )
42 *
43 +
44 ,
45 -
46 .
47 /
48 0
49 1
50 2
51 3
52 4
53 5
54 6
55 7
56 8
57 9
58 :
59 ;
60 <
61 =
62 >
63 ?
64 @
65 A
66 B
67 C
68 D
69 E
70 F
71 G
72 H
73 I
74 J
75 K
76 L
77 M
78 N
79 O
80 P
81 Q
82 R
83 S
84 T
85 U
86 V
87 W
88 X
89 Y
90 Z
91 [
92 \
93 ]
94 ^
95 _
96 `
97 a
98 b
99 c
100 d
101 e
102 f
103 g
104 h
105 i
106 j
107 k
108 l
109 m
110 n
111 o
112 p
113 q
114 r
115 s
116 t
117 u
118 v
119 w
120 x
121 y
122 z
123 {
124 |
125 }
126 ~

In [26]:
string.printable

'0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~ \t\n\r\x0b\x0c'

In [ ]:
# wap ask the user find number of 'a' letters in a given string
#string='hai how are you and how do you do'
#ans:3
#print each letter====>i
#appily the if conditon i=='a'

In [27]:
string='hai how are you and how do you do'
count=0
for i in string:
    print(i)
    if i=='a':
        count=count+1
        
print(count)

h
a
i

h
o
w

a
r
e

y
o
u

a
n
d

h
o
w

d
o

y
o
u

d
o
3

In [ ]:
#wap count the number of vowels in a given string
#string='hai how are you'
#7

In [32]:
string='hai how are you'
count=0
for i in string:
    print(i)
    if i in'aeiou':
        count=count+1
print(count)

h
a
i

h
o
w

a
r
e

y
o
u
7

In [36]:
# wap count the number of unique vowels in a given string
#ans:5
str=''
string='hai how are you'

count=0
for i in string:
    print(i)
    if i in'aeiou':
        count=count+1
        string=string+i
print(count)

h
a
i

h
o
w

a
r
e

y
o
u
7

In [37]:
string1=''
for i in 'python':
    string1=string1+i
    
print(string1)

python

In [41]:
str1='hai'
str2='hello'

In [42]:
3*str1

'haihaihai'

**index**

In [ ]:
string1='python'    #6 letters

In [ ]:
p  y  t   h  o  n
0  1  2   3  4  5

In [45]:
string1[0],string1[1],string1[2],string1[3],string1[4],string1[5]

('p', 'y', 't', 'h', 'o', 'n')

In [46]:
for i in range(5):
    print(string1[i])
    
# i======  will give index
# string[i] ===== letters

p
y
t
h
o

In [1]:
string1='python'

# i want to print letters using in operator
#i want to print letters using range operator

for i in string1:
    print(i)
    
    
for i in range(len(string1)):
    print(i,string1[i])

p
y
t
h
o
n
0 p
1 y
2 t
3 h
4 o
5 n

**10-11-2023**

In [4]:
string1='python'

In [ ]:
# i want to print the letters using for loop
#in
#range

In [3]:
for i in string1:         # i means each letter
    print(i,end=' ')

p y t h o n

In [5]:
for i in range(len(string1)):      #i means number:0
    print(i,string1[i])             # index operator

0 p
1 y
2 t
3 h
4 o
5 n

In [7]:
string1[1]

'y'

In [8]:
#the index of p is 0
#the index of y is 1

for i in range(len(string1)):
    print('the index of {} is{}'.format(string1[i],i))

the index of p is0
the index of y is1
the index of t is2
the index of h is3
the index of o is4
the index of n is5

In [ ]:
-6  -5  -4   -3   -2   -1
p    y   t    h    o    n
0    1   2    3    4    5======>pos

In [9]:
string1[-1]

'n'

In [ ]:
#iterate the for loop on string1
#print the letters using neagative index
#the idea is frist you need to print the numers between -6 to -1 using for loop

In [ ]:
string1[-6],string2[-5],string1[-4]

In [10]:
for i in range(-6,0):
    print(i)

-6
-5
-4
-3
-2
-1

In [11]:
for i in range(-6,0):
    print('the negative index of {} is {}'.format(string1[i],i))

the negative index of p is -6
the negative index of y is -5
the negative index of t is -4
the negative index of h is -3
the negative index of o is -2
the negative index of n is -1

In [ ]:
string1=python python
for i in range(len(string1,0):

In [3]:
#'the postive index is{} and negaitve index is {} for a leeter p
string='python'
for i in range(len(string)): 
    print('the postive index is {} and negaitve index is {} for {}'.format(i,string[i],i-6))

the postive index is 0 and negaitve index is p for -6
the postive index is 1 and negaitve index is y for -5
the postive index is 2 and negaitve index is t for -4
the postive index is 3 and negaitve index is h for -3
the postive index is 4 and negaitve index is o for -2
the postive index is 5 and negaitve index is n for -1

In [5]:
for i in range(-len(string1),0):
    print('the postive index of {} is{}'.format(string1[i],i+6))

the postive index of p is0
the postive index of y is1
the postive index of t is2
the postive index of h is3
the postive index of o is4
the postive index of n is5

In [19]:
i=0
while i<len(string1):
        print('the postive index of {} is{}'.format(string1[i],i))
        i=i+1

the postive index of p is0
the postive index of y is1
the postive index of t is2
the postive index of h is3
the postive index of o is4
the postive index of n is5

In [20]:
i=0
while i<len(string1):
    print('the postive index is{} and negative index is{} for {}'.format(i,i-6,string1[i]))
    i=i+1

the postive index is0 and negative index is-6 for p
the postive index is1 and negative index is-5 for y
the postive index is2 and negative index is-4 for t
the postive index is3 and negative index is-3 for h
the postive index is4 and negative index is-2 for o
the postive index is5 and negative index is-1 for n

In [23]:
string1='hai how are you'
count=1
for i in string1:
    if i=='a':
        count+=1
print(count)

3

In [25]:
string1='hai how are you'
count=1
for i in  range(len(string1)):
    if string1[i]=='a':
        count+=1
print(count)

3

**mutable and immutable concept**

In [ ]:
mutable ==== we can change
immutable ===== we can not change the value by using index operations

In [3]:
string1='python'
# i want change'p' ======'P'
#o/p: 'python'
string1[0]='p'

TypeError: 'str' object does not support item assignment

In [27]:
list1=[100,200,300]
list1[0]=1000
list1

[1000, 200, 300]

**slice**

In [ ]:
h  a  i  h  o   w    a   r   e   y  o   u
0  1  2  3  4   5   6    7   8   9  10   11

In [28]:
string1='hai how are you'
string1[2:10]

'i how ar'

In [30]:
string1='hai how are you'
string1[2:10:3]

'ioa'

In [ ]:
string1[2:10:-3]     not works
string1[2:10:3]       it works

In [ ]:
#topics
-reading methods
-single/double/triple(doc string)
-type
-len
-max
-min
-concatention
-
-in
-index
-mutable
-slice

In [31]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

**capitalize**

In [34]:
string1='welcome'
string1.capitalize()

'Welcome'

**upper**

In [35]:
string1.capitalize()

'WELCOME'

**lower**

In [36]:
string1.lower()

'welcome'

In [37]:
string1='weLCome'
print(string1.capitalize())
print(string1.upper())
print(string1.lower())

Welcome
WELCOME
welcome

In [38]:
string1='welocme'
#'weLcome'
#slice
#concatenation
#idea: we   come

str1=string1[:2]
str2=string1[3:]
str1+'L'+str2

'weLocme'

In [40]:
string1.replace('L','l')

'welocme'

**14-11-2023**

**casefold**

In [1]:
string1='welcome'
string1.casefold()               #casefold is also as a lower case is equal to casefold

'welcome'

- capitalize  : frist letter as captical
- upper : ALL letters are in upper case
- lower : All leters are in lower case
-  casefold : case less comparision (lower case)

In [3]:
string1='hai how are you'
#how many 'a' are there
string1.count('a')

2

In [6]:
string1='ola ola ola'
print(string1.count('ola '))
print(string1.count('ola'))
print(string1.count('ol'))
print(string1.count('oa'))

2
3
3
0

In [12]:
string1='ola ola ola'
print(string1.count('a',4)) # we are counting the number of 'a' from index 4
print(string1.count('a',6))
print(string1.count('a',4,6))    # 4 and5
print(string1.count('a',6,7))     #4 5 6
print(string1.count('A'.lower(),4))    #2
print(string1.count('a'.upper(),4,7))

2
2
0
1
2
0

In [13]:
string1='ola ola ola'
count=0
for i in string1:
    if i=="a":
        count+=1
        
print(count)

3

In [ ]:
#ow many 'ola' are there 
#do till now what we completed use that only except count method

In [16]:
string1='ola ola ola'
count=0
for i in range(len(string1)):
    if string1[i:i+3]=="ola":
        count+=1
        
print(count)

#i=0  string1[0:3]: 0 1 2 :ola
#i=1  string1[1:4]: 1 2 3 :ol

3

In [17]:
string1.count('a')  # this as developer
string1.count('ola')   #as developer mode

3

**replace**

In [20]:
string1='restart'
#replace 'r' with '$'
string1.replace('r','$',1)        # -1 is a all ocourses

'$estart'

In [24]:
string1='restart'#'resta$t'
s1=string1[0]
s2=string1[1:].replace('r','$')
s1+s2

'resta$t'

In [26]:
#2 method
string1[::-1].replace('r','$',1)[::-1]

'resta$t'

**index**

In [27]:
string1='welcome python'
# index of 'c'
string1.index('c')

3

In [28]:
string1.index('z')

ValueError: substring not found

In [29]:
string1='hai how are you and'
#how many 'a ' are there
#what are the indexes of "a"

count=0
for i in string1:
    if i=='a':
        count+=1
        
print(count)
string1

3

In [30]:
for i in range(len(string1)):
    if string1[i]=='a':
        print(i)

1
8
16

In [31]:
string1.index('a')     #only frist occurence

1

In [32]:
string1='hai hai hai hai hai'
i1=string1.index('a')    #1
i2=string1.index('a',i1+1)    #1+1====>5
i3=string1.index('a',i2+1)     #5+1=====.9
i4=string1.index('a',i3+1)     #9+1 =====>10
i5=string1.index('a',i4+1)
print(i1,i2,i3,i4,i5)

1 5 9 13 17

In [33]:
#function in function
for i in string1:
    if i=='a':
        index =string1.index(i)
        print(string1.index(i,index+1))

5
5
5
5
5

In [9]:
string1='wellcome hello'
print(string1.index('l'))
string1.index('l',string1.index('l')+1)
string1.index('l',string1.index('l',string1.index('l')+1)+1)

2

11

In [ ]:
**find**

In [ ]:
# take one string1
#string.find()
#aapply shift+tab
#read what it is says
#implement that

In [36]:
string1='welcome'
string1.find('e')
string1.find('z')
# if substring not found it returns -1

1

**15-11-2023**

In [1]:
str1='hai how are you, im good'
str1.index('i')        #frist occurence

2

In [3]:
str1.index('i',str1.index('i')+1)

17

**strip-lstrip-rstrip**

In [8]:
str1=' hello how are you '
str2=" hello how are you"
str3="hello how are you "

#i want remove the spaces
#if you want to remove the spaces both side use strip method
#if you want to remove

In [9]:
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())

hello how are you
hello how are you
 hello how are you

In [10]:
str3         #will identify the space of str3

'hello how are you '

In [11]:
print(str3)            #spaces not defined while print

hello how are you

In [14]:
#Wap to extract

str1='python.anaconda@nareshit.com'
str2='omkar.nallagoni@cogizant.com'
str3='virat.kohli@bcci.com'
#extract frist name: python
#extract second name : anaconda
#exctract third name : nareshit

In [1]:
str1='python.anaconda@nareshit.com'
str1.index(".")
str1[:str1.find('.')]

'python'

In [18]:
str1[0:6],str1[7:15],str1[16:24]

('python', 'anaconda', 'nareshit')

In [19]:
str1.index('a')

7

In [20]:
str1.index('@')

15

In [24]:
str1.find('.')
num1=str1[0:6]
print(num1)
str1.find('@')
num2=str1[7:15]
print(num2)
str1.find('.c')
num3=str1[16:24]
print(num3)

python
anaconda
nareshit

In [25]:
str2='omkar.nallagoni@cogizant.com'
str2.find('.')
num1=str2

5

In [7]:
str1='3.1489'
#extract 3
#extract 1489
str1[:str1.find('.')-1]
str1[str1.index('.')+1:]

'1489'

In [ ]:
str1='hai how are you '

In [35]:
dir(string)

NameError: name 'string' is not defined

In [37]:
str1='abc'
str2='123'
str3='abc123'
str4='ABC'
str1.isnumeric()

False

In [8]:
str1='abc'
str1.isaplha()

AttributeError: 'str' object has no attribute 'isaplha'

**split**

In [39]:
str1='hai how are you'
str1.split()
#if i not provide anything inside brackets:space
#output is in list format

['hai', 'how', 'are', 'you']

In [41]:
str1='hai how are you'
str1.spilt('')

AttributeError: 'str' object has no attribute 'spilt'

In [ ]:
#wap to identify the longest word snd shortest word in a given sentence
#wap to identify the most repeated word in a given sentence
#wap out of 3strings'hyd','blr','mumbai',