*how to read the tuple*

In [ ]:
- Python Tuple is a collection of objects separated by commas.
- There are various ways by which you can create a tuple in Python.
- Using round brackets
- With one item

In [21]:
tuple1=(1,2,3,'good morning')
tuple1

(1, 2, 3, 'good morning')

In [10]:
tuple1=(1,'hello',3.14,True)
tuple1

(1, 'hello', 3.14, True)

In [11]:
a=('apple',)
print(type(a))

a=('cherry')
print(type(a))

<class 'tuple'>
<class 'str'>

*type*

In [11]:
type(tuple1)

tuple

In [12]:
my_tuple=(1,'morning',2.14,True)
my_tuple

(1, 'morning', 2.14, True)

In [13]:
len(my_tuple)

4

*min-max*

In [17]:
num_tuple=(2,3,5,15,18,9)
max_value=max(num_tuple)
min_value=min(num_tuple)

print('maxmium value:',max_value)
print('minimum value:',min_value)

maxmium value: 18
minimum value: 2

*concatenation*

In [18]:
t1=(3,6,7)
t2=('apple',3,'cherry')
concat=t1+t2

print('concatenated tuple',concat)

concatenated tuple (3, 6, 7, 'apple', 3, 'cherry')

*in*

In [22]:
tuple=('google',2,4,'cherry','too','new','morning')
print('cherry' in tuple)
print('jhbuhb' in tuple)

True
False

*multiplcation-subraction-division*

In [27]:
#creating two tuples:
tuple1=(4,6,8)
tuple2=(1,2,3)

result_mulitply=tuple1*3

result_add=tuple1+tuple2


print('mulitiplication (repeating tuple1):',result_mulitply)

print('addition(adding tuple1 and tuple2):',result_add)

mulitiplication (repeating tuple1): (4, 6, 8, 4, 6, 8, 4, 6, 8)
addition(adding tuple1 and tuple2): (4, 6, 8, 1, 2, 3)

- unlike lists or arrays,tuples in python do not support direct mul,div,sub
- tuples are immutable,meaning their elements cannot be changed after creation.
- operations like mul and sub that would modify the elements are not applicable to tuples.

- indexing

In [2]:
a_tuple=(0,[1,2,3],(5,6,7),8.0)
print('the frist element:',a_tuple[0])
print('the last element:',a_tuple[-1])
print('the data type of the second element:',type(a_tuple[1]))

the frist element: 0
the last element: 8.0
the data type of the second element: <class 'list'>

*slicing*

- slicing a tuple is as simple as slicing a python string or a list with the same rules.
- to get a range of elements within a tuple.
- we can specify a range of indices to retrieve by selecting.
- where to start (inclusive) and end(exclusive) the range.

In [5]:
a_tuple=3,55,7,8,0,3
print(a_tuple[:4])
print(a_tuple[-3:])
print(a_tuple[:3])
print(a_tuple[2:4])

(3, 55, 7, 8)
(8, 0, 3)
(3, 55, 7)
(7, 8)

*tuple count() method*

In [7]:
thistuple=(1,3,5,7,3,5,7,8,8,3)
a=thistuple.count(8)
print(a)

2

*tuple index() method*

In [8]:
thistuple=(1,3,5,7,3,5,7,8,8,3)
a=thistuple.index(8)
print(a)

7

In [15]:
i = 1
while True:
    if i%3 == 0:
        break
    print(i)
    i + = 1

SyntaxError: invalid syntax (2157364990.py, line 6)